
<div class="scroll-wrapper sidebar-wrapper scrollbar scrollbar-inner" style="position: relative;">
    <div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 599.6px;">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item">
                    <a href="/Admin/Admin/Index">
                        <i class="fas fa-desktop"></i>
                        <p>  Ngân Hàng Câu Hỏi</p>

                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">ĐỀ THI</h4>
                </li>
                <li class="nav-item ">
                    <a data-toggle="collapse" href="#base" class="collapsed" aria-expanded="false">
                        <i class="fas fa-file-alt"></i>
                        <p>Đề thi</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/BoMon/DSDethi">
                                    <span class="sub-item">Danh sách đề</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Admin/BoMon/DSDEDUYET">
                                    <span class="sub-item">Duyệt đề</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Bomon/DSDEGUI">
                                    <span class="sub-item">   Gửi đề</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item ">
                    <a href="/Admin/BoMon/BoMON">
                        <i class="fas fa-desktop"></i>
                        <p>   Bộ môn </p>

                    </a>
                </li>

                <li class="nav-item ">
                    <a href="/Admin/BoMon/KetquathiTungGVBM">
                        <i class="fas fa-desktop"></i>
                        <p>   Kết quả thi </p>

                    </a>
                </li>



            </ul>
        </div>
    </div>
</div>


    