@model List<TracNghiemOnline.Modell.GiaoVien>
@{
    ViewBag.Title = "DanhGiaKetQuahocTap";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">DANH SÁCH GIÁO VIÊN</h4>
            </div>
        </div>
        <div style="width:auto; height:3px; background-color:rgb(248,249,250);"></div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                    <div class="col-sm-12">
                        <table id="dataTable" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                            <thead>
                                <tr>
                                    <th>Mã giáo viên </th>
                                    <th>Tên giáo viên</th>
                                    <th>Mã nghành </th>

                                    <th></th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Where(x=>x.TrangThai==true))
                                {
                                    <tr>
                                        <td> @item.MaGV </td>
                                        <td> @item.TenGV</td>
                                        <td> @item.Ma_Nganh </td>
                                        <td>

                                            <a href="/Admin/BoMon/DanhgiaketquatheoBoMon/@item.MaGV " class="btn btn-sm btn-primary">
                                                <span>Xem kết quả</span>
                                            </a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

