@{
    Layout = "get data from school";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}




<div class="row" style="height:20px;">

</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">CẬP NHẬT DỮ LIỆU</h4>

            </div>
        </div>
        <div class="card-body">
            <div>
                    <a class=" btn btn-danger" href="/Admin/getdata/getnganh" style="width:350px">Cập nhật ngành và chuyên ngành đào tạo</a>
                    <a class=" btn btn-danger" href="/Admin/getdata/getclass" style="width:350px">Cập nhật lớp học phần</a>
                    <a class="btn btn-danger" href="/Admin/getdata/getstudent" style="width:350px">Cập nhật sinh viên</a>
            </div>
        </div>
    </div>
</div>